.col-md-8.col-md-offset-2.profile
  .row
    .col-md-3.top-row.col-sm-3
      %img.img-circle(src='http://lorempixel.com/120/120/animals/')
    .col-md-9.col-sm-9
      %h3= (@user.firstname + ' ' + @user.lastname).upcase
      %p= @user.email + ' | joined ' + time_ago_in_words(@user.created_at) + ' ago'
  .row.activity
    .col-md-4
      %h4 USER ACTIVITY:
    .col-md-4
      %h4= pluralize(@user.products.count, "product").upcase
    .col-md-4
      %h4= pluralize(@user.reviews.count, "review").upcase

.col-md-8.col-md-offset-2.reviews-list
  %h4= (@user.firstname + "'s last reviews").upcase
  - @reviews.each do |review|
    %table.table
      %tr
        %td= review.content
        %td.rating{rowspan: "2"}
          %div rating
          %div= review.rating
      %tr
        %td 
          %span= "product: #{review.product.title}"
          %span= " | posted: #{review.created_at.to_formatted_s(:dmy)}"
        
      


