.col-lg-8.col-lg-offset-2.product-index
  = link_to 'Back', :back, class: 'btn btn-default pull-right'
  %h1 Listing products

  %table.table
    %tr
      %th Title
      %th Description
      %th Price
      %th

    - products.each do |product|
      %tr
        %td= product.title
        %td= product.description
        %td= "#{product.price}$"
        %td.pull-right
          - if current_user_owner?(product)
            %span= link_to 'Edit', edit_category_product_path(product.category, product)
            \/
            %span= link_to 'Destroy', category_product_path(product.category, product), method: :delete, data: { confirm: 'Are you sure?' }
            \/
          %span= link_to 'Show', category_product_path(product.category, product)

