%p#notice= notice
%p#error= flash[:error]

.col-lg-5.col-lg-offset-1
  
  = link_to 'Back', :back, class: 'btn btn-default'
  = link_to 'Listing products', category_products_path, class: 'btn btn-default'
  - if current_user_owner?
    = link_to 'Edit', edit_category_product_path(category.id, product.id), class: "btn btn-default"

  %table.table
    %tr
      %td
        %b= "Product title: #{product.title}".upcase
    %tr
      %td= "Description: #{product.description}"
    %tr
      %td= "Price: #{product.price}$"
    %tr
      %td= "Category: #{product.category.name}"
  
  - if user_signed_in?
    .new-review-form
      %h3 ADD NEW REVIEW
      = render 'reviews/form'
  

  
.col-lg-5
  %h3 REVIEWS
  = render reviews
  - if reviews.empty?
    %table.table
      %tr
        %td= "This product has no review yet. You can add first." 
