%table.table
  %tr
    %td= review.content
    %td.rating{rowspan: "2"}
      %div rating
      %div= review.rating
  %tr
    %td 
      %span= params[:controller] == 'users' ? "product: #{review.product.title}" : review.author
      %span= " | posted: #{review.created_at.to_formatted_s(:dmy)}"
        