!!!
%html{ lang: 'en' }
  %head
    %meta{ charset: 'utf-8' }/
    %meta{ content: 'IE=Edge,chrome=1', 'http-equiv' => 'X-UA-Compatible' }/
    %meta{ content: 'width=device-width, initial-scale=1.0', name: 'viewport' }/
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    = render 'layouts/header'
    
    - if current_page?(root_path) || current_page?('/categories')
      .big-image
        = image_tag('city.jpg')
    / <% flash.each do |message_type, message| %>
    /   <div class="alert alert-<%= message_type %>"><%= message %></div>
    / <% end %>
    - flash.each do |message_type, message|
      %div{ class: "alert alert-#{message_type}"}= message 

    .container-fluid
      .row
        .col-lg-12
          = yield
          
    = render 'layouts/footer'
